.button {
  background-color: $nickel;
  border-radius: 30px;
  color: $white;
  font-family: $roboto;
  font-weight: 300;
  border: none;
  height: 3rem;

  &--medium {
    padding: 10px 35px;
  }

  &--small {
    padding: 9px 16px;
    margin-right: 0.6rem;
  }

  &--medium,
  &--small {
    font-size: $font-size-medium;

    &:hover {
      background-color: $light-gray;
    }
  }
}